<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		$(document).ready(function() {
					$.ajax({
								url: "{% url 'user-me' %}",
								type: 'GET',
								dataType: 'json',
								// Fetch the stored token from localStorage and set in the header
								headers: {"Authorization": "Bearer " + localStorage.getItem('accessToken')},
								success: function (result) {
											$("#profile").show();
											$("#sign_out").show();
										},
								error: function (error) {
											$("#login").show();
											$("#sign_up").show();
										}
							});

					$('#sign_out').on('click',
								function(){
											localStorage.removeItem('refreshToken');
											localStorage.removeItem('accessToken');
										});
				});
	</script>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>GoTicket</title>
		<!-- Favicon-->
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicons/favicon.ico' %}" />
		<!-- Bootstrap icons-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
		<!-- Core theme CSS (includes Bootstrap)-->
		<link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet" />
	</head>

	<body>
		<!-- Navigation-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container px-4 px-lg-5">
				<a class="navbar-brand" href="{% url 'home' %}">GoTicket</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
						<li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'store' %}">All Events</a></li>
					</ul>
				</div>
				<div id="login" class="collapse">
					<a class="nav-link active" aria-current="page" href="{% url 'login'%}">Login</a></li>
				</div>
				<div id="profile" class="collapse">
					<a class="nav-link active" aria-current="page" href="{% url 'profile'%}">Profile</a></li>
				</div>
				<div id="sign_out" class="collapse">
					<a class="nav-link active" aria-current="page" href="{% url 'home' %}">Sign Out</a></li>
				</div>
				<div id="sign_up" class="collapse">
					<a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Sign Up</a></li>
				</div>
			</div>
		</nav>
