{% include 'header.html' %}
{% load static %}
<!-- Header-->
<header class="bg-dark py-5 bg-image" style="background-image: url({% static 'images/palmeras.jpg' %});">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">GoTicket</h1>
			<p class="lead fw-normal text-white-100 mb-0">The best events for the lowest price!</p>
		</div>
	</div>
</header>
<script>
	$(document).ready(function(){

			$.ajax({
					url: "{% url 'api:events-list' %}",
					type: "GET",
					success: function(data) {
							for(i=0; i<data.length && i<=2; i++)
							{
									html = '<div class="col mb-5">';
									html += '<div class="card h-100">'
									html += '<img class="card-img-top" src="' + data[i].cover_image + '" alt="..." />';
									html += '<div class="card-body p-4">';
									html += '<div class="text-center">';
									html += '<h5 id="event_1" class="fw-bolder">' + data[i].name + '</h5>';
									html += ''+ data[i].location +'';
									html += '</div>';
									html += '</div>';
									html += '<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">'
									html += '<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="'+ {%url 'product'%} + data[i].id +'">View</a></div>';
									html += '</div>';
									html += '</div>';
									html += '</div>';

									$('#events_post').prepend(html);
								}
						}
				});

		}); // end document
</script>
<!-- Section-->
<section class="py-5">
	<div class="container px-4 px-lg-5 mt-5">
		<div id="events_post" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
		</div>
	</div>
</section>
</body>

{% include 'footer.html'%}
</html>
