{% include 'header.html' %}
{% load static %}
<html lang="en">
	<script>
		$(document).ready(function(){

					$.ajax({
								url: "{% url 'api:events-list' %}",
								type: "GET",
								success: function(data) {
											for(i=0; i<data.length; i++)
											{

														html = '<div class="col-md-6 col-lg-4">'
														html += '<div class="card my-3">'
														html += '<div class="card-thumbnail">'
														html += '<img src="'+ data[i].cover_image +'" class="img-fluid" alt="thumbnail">'
														html += '</div>'
														html += '<div class="card-body">'
														html += '<h3 class="card-title"><a "#" class="text-secondary">'+ data[i].name +'</a></h3>'
														html += '<p class="card-text">'+ data[i].description +'</p>'
														html += '<a href="'+ {% url 'product' %} + data[i].id +'" class="btn btn-outline-dark mt-auto">View event</a>'
														html += '</div>'
														html += '</div>'
														html += '</div>'

														$('#events_post').append(html);
													}
										}
							});

				}); // end document
	</script>
	<section class="bg-light py-4 my-5">
		<div class="container">
			<div id="events_post" class="row">
				<div class="col-12">
					<h2 class="mb-3 text-danger">Store</h2>
				</div>

			</div>
		</div>
	</section>

	{% include 'footer.html' %}
	</body>
</html>
